
         <div class=navbar-fixed>
         <nav class="#ef5350 red lighten-1">
            <div class="nav-wrapper ">
              <a href="#" class="brand-logo"> Blog a day</a>
              <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right">
                <li>
                    <a href="#">
                        <i class="large material-icons notification-icon">notifications</i>
                    </a>
                    <small class="notification-badge">2</small>
                </li>
            </ul>
              <ul class="right hide-on-med-and-down">
                <li><a href="https://github.com/sikander441" target="_blank"><img class='github-logo' width=40px height=40px src="images/github-logo.svg"/></a></li>
                <li><a href="https://www.linkedin.com/in/sikander-singh-403800112/" target="_blank"><img class='linkedin-logo' width=42px height=42px src="images/linkedin-logo.png"/></a></li>
              </ul>
             
            </div>
          </nav>
        </div>
          <ul class="sidenav #ef5350 red lighten-1" id="mobile-nav">
            <li><a href="https://github.com/sikander441" target="_blank"><img class='github-logo' width=40px height=40px src="images/github-logo.svg"/>Github</a></li>
            <br><br><li><a href="https://www.linkedin.com/in/sikander-singh-403800112/" target="_blank"><img class='linkedin-logo' width=42px height=42px src="images/linkedin-logo.png"/>Linkedin</a></li>
          </ul>
                
