<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
  <meta charset="utf-8" />
  <link href="css/index.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Best Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
<div class="progress">
  <div class="indeterminate"></div>
</div>
{{> nav}}

{{{body}}}

</body>
</html>
