*{
    margin:0;
    padding:0;
}
.github-logo{
    margin-top: 30%;
}

.linkedin-logo {

    margin-top:28%;

}

.brand-logo{
    margin-left:20px;
}
.navbar-fixed .nav-wrapper .notification-icon{
    font-size:42px;
}
.notification-badge {
    position: relative;
    right: -53px;
    top: -80px;
    color: #941e1e;
    background-color: #fff;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 5px 10px;
    font-size:12px;
    font-weight: 900;
}

#blogPosts{
    margin-top:20px;
    padding:20px;

}
.blog{
    margin-top:20px;
}


.blog-summary{
    font-size:20px;
}


@media only screen and (max-width: 600px){
    .notification-badge {
        position: relative;
        right: -53px;
        top: -75px;
        color: #941e1e;
        background-color: #fff;
        margin: 0 -.8em;
        border-radius: 50%;
        padding: 2px 6px;
        font-size:12px;
    } 
    .navbar-fixed .nav-wrapper .notification-icon{
        font-size:38px;
    }
}
